@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.price::-webkit-scrollbar {
    list-style: none;
    outline: none1;
}

.price {
    max-width: 1170px;
    margin: 100px auto;
    font-family: "Montserrat", sans-serif;

    .price-box {
        .price-card {
            border-radius: 30px;
            background: rgb(248, 248, 248);
            padding: 42px 24px;

            .price-text-card {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .price-text-card-div1 {
                    .price-text-card-p1 {
                        color: rgb(34, 34, 34);
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 44px;
                    }
                }

                .price-text-card-div2 {
                    width: 265px;
                    height: 63px;

                    .price-text-card-p2 {
                        color: rgb(34, 34, 34);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 150%;
                    }
                }
            }

            .price-div-programma {
                margin-top: 43px;

                .price-div-programma-box {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    padding: 0 160px;
                    gap: 100px;

                    .price-text1 {
                        p {
                            color: rgb(168, 168, 168);
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 150%;
                        }
                    }

                    .price-text-card {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;

                        .price-text {
                            color: rgb(168, 168, 168);
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 150%;
                        }

                        .price-text-card-gap {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 16px;

                            p {
                                color: rgb(168, 168, 168);
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }
                    }
                }
            }

            .bank {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 30px;

                .bank-box {

                    .bank-box-text-card {
                        display: flex;
                        align-items: center;

                        .bank-logo {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15rem;

                            .bank-text-gap {
                                display: flex;
                                align-items: center;
                                gap: 12px;
                            }

                            .bank-logo-text {
                                p {
                                    color: rgb(34, 34, 34);
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 22px;
                                }
                            }

                            .bank-text-center {
                                display: flex;
                                align-items: center;
                                gap: 15px;

                                .bank-text-center-div {
                                    display: flex;
                                    gap: 50px;

                                    .bank-text-left {
                                        display: flex;
                                        align-items: center;
                                        gap: 15px;

                                        p {
                                            color: rgb(34, 34, 34);
                                            font-size: 18px;
                                            font-weight: 500;
                                            line-height: 22px;
                                        }
                                    }

                                    .bank-left {
                                        display: flex;
                                        align-items: center;

                                        .bank-text-left {
                                            display: flex;
                                            align-items: center;
                                        }
                                    }
                                }

                                .bank-left-btn {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 30px;

                                    .bank-left-btn-info {
                                        width: 135px;
                                        height: 37px;
                                        background-color: transparent;
                                        border-radius: 10px;
                                        color: rgb(220, 63, 63);
                                        border: 1px solid rgb(220, 63, 63);
                                        font-size: 14px;
                                        font-weight: 500;
                                        line-height: 17px;
                                    }
                                }
                            }
                        }
                    }

                    .bank-border-div {
                        .div-border {
                            width: 1121px;
                            height: 1px;
                            border: 1px solid rgb(168, 168, 168);
                            margin-top: 15px;
                        }
                    }
                }

                .bank-btn {
                    button {
                        width: 153px;
                        height: 37px;
                        border-radius: 10px;
                        background: rgb(220, 63, 63);
                        color: rgb(255, 255, 255);
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 17px;
                        border: none;
                    }
                }
            }
        }
    }

    .contact {
        margin-top: 100px;
        border: 1px solid red solid red;

        .contact-box {
            .contact-card {
                width: 1170px;
                height: 216px;
                background: rgb(220, 63, 63);
                border-radius: 30px;
                padding: 64px 66px;
                display: flex;
                align-items: center;
                gap: 10px;
                background-image: url(../../assets/img/contact/_.png);
                background-repeat: no-repeat;
                background-position: right;

                .contact-box-title {
                    width: 427px;
                    height: 88px;

                    p {
                        color: rgb(255, 255, 255);
                        font-size: 36px;
                        font-weight: 500;
                        line-height: 44px;
                    }
                }

                .btn-card {
                    .btn-box-card {
                        display: flex;
                        gap: 20px;

                        input {
                            width: 185px;

                            height: 47px;

                            border: 1px solid red;
                            border-radius: 10px;

                            background: rgb(219, 219, 219);

                            color: rgb(34, 34, 34);
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 17px;
                            text-align: center;
                        }

                        input:focus {
                            border: none;
                            outline: none;
                        }

                        button {
                            width: 185px;
                            height: 47px;
                            border: 1px solid rgb(220, 63, 63);
                            border-radius: 10px;
                            background: rgb(255, 255, 255);
                            color: rgb(220, 63, 63);
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 17px;
                            text-align: center;
                        }
                    }

                    .btn-card-p {
                        color: rgb(219, 219, 219);
                        font-family: Montserrat, sans-serif;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 150%;
                        margin-top: 3px;
                    }
                }
            }
        }

        .contact-text {
            margin: 100px 0 60px 0;

            p {
                color: rgb(34, 34, 34);
                font-family: Montserrat, sans-serif;
                font-size: 36px;
                font-weight: 500;
                line-height: 44px;
            }
        }
    }

    .footer-card {
        overflow: scroll;

        .footer-box {
            .footer-card {
                display: flex;
                align-items: center;
                gap: 30px;

                .footer-card1 {
                    padding: 28px 25px;
                    width: 370px;
                    height: 401px;
                    border-radius: 30px;
                    background: rgb(248, 248, 248);
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    gap: 15px;

                    .footer-text-div {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        // .footer-img1 {}

                        .footer-text-p {
                            width: 101px;
                            height: 48px;
                            color: rgb(34, 34, 34);
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }

                    .footer-text-desc {
                        p {
                            width: 317px;
                            height: 216px;
                            color: rgb(34, 34, 34);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }

                    .footer-card-text-red {
                        p {
                            color: rgb(220, 63, 63);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }
                }


                .footer-card2 {
                    width: 370px;
                    height: 401px;
                    border-radius: 30px;
                    background: rgb(248, 248, 248);
                    padding: 28px 25px;

                    .footer-text-div {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        // .footer-img1 {}

                        .footer-text-p {
                            width: 101px;
                            height: 48px;
                            color: rgb(34, 34, 34);
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }

                    .footer-text-desc {
                        p {
                            width: 317px;
                            height: 216px;
                            color: rgb(34, 34, 34);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }

                    .footer-card-text-red {
                        p {
                            color: rgb(220, 63, 63);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }
                }

                .footer-card3 {
                    width: 370px;
                    height: 401px;
                    border-radius: 30px;
                    background: rgb(248, 248, 248);
                    padding: 28px 25px;

                    .footer-text-div {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        // .footer-img1 {}

                        .footer-text-p {
                            width: 101px;
                            height: 48px;
                            color: rgb(34, 34, 34);
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 24px;
                        }
                    }

                    .footer-text-desc {
                        p {
                            width: 317px;
                            height: 216px;
                            color: rgb(34, 34, 34);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }

                    .footer-card-text-red {
                        p {
                            color: rgb(220, 63, 63);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }
                }
            }

            .footer-button-div {

                .footer-button-box {
                    display: flex;
                    align-items: center;
                    justify-content: end;

                    .footer-button {
                        padding: 40px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 30px;

                        button {
                            width: 30px;
                            height: 30px;
                            background: rgb(220, 63, 63);
                            border: none;
                            border-radius: 50%;

                        }
                    }
                }
            }
        }
    }
}




.footer-card::-webkit-scrollbar {
    border: none;
    outline: none;
    list-style: none;
}


@media (max-width: 1024px) {
    .price {
        max-width: 1170px;
        margin: 100px auto;
        font-family: "Montserrat", sans-serif;

        .price-box {
            .price-card {
                border: 1px solid green;
                border-radius: 30px;
                background: rgb(248, 248, 248);
                padding: 42px 24px;

                // width: 964px;
                // height: 867px;
                .price-text-card {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .price-text-card-div1 {
                        .price-text-card-p1 {
                            color: rgb(34, 34, 34);
                            font-size: 36px;
                            font-weight: 500;
                            line-height: 44px;
                        }
                    }

                    .price-text-card-div2 {
                        width: 265px;
                        height: 63px;

                        .price-text-card-p2 {
                            color: rgb(34, 34, 34);
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 150%;
                        }
                    }
                }

                .price-div-programma {
                    margin-top: 43px;

                    .price-div-programma-box {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        padding: 0 160px;
                        gap: 100px;

                        .price-text1 {
                            p {
                                color: rgb(168, 168, 168);
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 150%;
                            }
                        }

                        .price-text-card {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 15px;

                            .price-text {
                                color: rgb(168, 168, 168);
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 150%;
                            }

                            .price-text-card-gap {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 16px;

                                p {
                                    color: rgb(168, 168, 168);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 150%;
                                }
                            }
                        }
                    }
                }

                .bank {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 30px;

                    .bank-box {
                        // width: 964px;


                        .bank-box-text-card {
                            display: flex;
                            align-items: center;

                            .bank-logo {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 15rem;

                                .bank-text-gap {
                                    display: flex;
                                    align-items: center;
                                    gap: 12px;
                                }

                                .bank-logo-text {
                                    p {
                                        color: rgb(34, 34, 34);
                                        font-size: 18px;
                                        font-weight: 500;
                                        line-height: 22px;
                                    }
                                }

                                .bank-text-center {
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;

                                    .bank-text-center-div {
                                        display: flex;
                                        gap: 50px;

                                        .bank-text-left {
                                            display: flex;
                                            align-items: center;
                                            gap: 15px;

                                            p {
                                                color: rgb(34, 34, 34);
                                                font-size: 18px;
                                                font-weight: 500;
                                                line-height: 22px;
                                            }
                                        }

                                        .bank-left {
                                            display: flex;
                                            align-items: center;

                                            .bank-text-left {
                                                display: flex;
                                                align-items: center;
                                            }
                                        }
                                    }

                                    .bank-left-btn {
                                        display: flex;
                                        align-items: center;
                                        margin-left: 30px;

                                        .bank-left-btn-info {
                                            width: 135px;
                                            height: 37px;
                                            background-color: transparent;
                                            border-radius: 10px;
                                            color: rgb(220, 63, 63);
                                            border: 1px solid rgb(220, 63, 63);
                                            font-size: 14px;
                                            font-weight: 500;
                                            line-height: 17px;
                                        }
                                    }
                                }
                            }
                        }

                        .bank-border-div {
                            .div-border {
                                width: 964px;

                                height: 1px;
                                border: 1px solid rgb(168, 168, 168);
                                margin-top: 15px;
                            }
                        }
                    }

                    .bank-btn {
                        button {
                            width: 153px;
                            height: 37px;
                            border-radius: 10px;
                            background: rgb(220, 63, 63);
                            color: rgb(255, 255, 255);
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 17px;
                            border: none;
                        }
                    }
                }
            }
        }

        .contact {
            margin-top: 100px;

            .contact-box {
                .contact-card {
                    width: 979px;
                    height: 354px;
                    background: rgb(220, 63, 63);
                    border-radius: 30px;
                    padding: 64px 66px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    background-image: url(../../assets/img/contact/_.png);
                    background-repeat: no-repeat;
                    background-position: right top;

                    .contact-box-title {
                        width: 427px;
                        height: 88px;

                        p {
                            color: rgb(255, 255, 255);
                            font-size: 36px;
                            font-weight: 500;
                            line-height: 44px;
                        }
                    }

                    .btn-card {
                        .btn-box-card {
                            display: flex;
                            gap: 20px;

                            input {
                                width: 185px;

                                height: 47px;

                                border: 1px solid red;
                                border-radius: 10px;

                                background: rgb(219, 219, 219);

                                color: rgb(34, 34, 34);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 17px;
                                text-align: center;
                            }

                            input:focus {
                                border: none;
                                outline: none;
                            }

                            button {
                                width: 185px;
                                height: 47px;
                                border: 1px solid rgb(220, 63, 63);
                                border-radius: 10px;
                                background: rgb(255, 255, 255);
                                color: rgb(220, 63, 63);
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 17px;
                                text-align: center;
                            }
                        }

                        .btn-card-p {
                            color: rgb(219, 219, 219);
                            font-family: Montserrat, sans-serif;
                            font-size: 11px;
                            font-weight: 400;
                            line-height: 150%;
                            margin-top: 3px;
                        }
                    }
                }
            }

            .contact-text {
                margin: 100px 0 60px 0;

                p {
                    color: rgb(34, 34, 34);
                    font-family: Montserrat, sans-serif;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 44px;
                }
            }
        }

        .footer-card {
            overflow: scroll;

            .footer-box {
                .footer-card {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .footer-card1 {
                        padding: 28px 25px;
                        width: 370px;
                        height: 401px;
                        border-radius: 30px;
                        background: rgb(248, 248, 248);
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                        gap: 15px;

                        .footer-text-div {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            // .footer-img1 {}

                            .footer-text-p {
                                width: 101px;
                                height: 48px;
                                color: rgb(34, 34, 34);
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 24px;
                            }
                        }

                        .footer-text-desc {
                            p {
                                width: 317px;
                                height: 216px;
                                color: rgb(34, 34, 34);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                            }
                        }

                        .footer-card-text-red {
                            p {
                                color: rgb(220, 63, 63);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                            }
                        }
                    }


                    .footer-card2 {
                        width: 370px;
                        height: 401px;
                        border-radius: 30px;
                        background: rgb(248, 248, 248);
                        padding: 28px 25px;

                        .footer-text-div {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            // .footer-img1 {}

                            .footer-text-p {
                                width: 101px;
                                height: 48px;
                                color: rgb(34, 34, 34);
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 24px;
                            }
                        }

                        .footer-text-desc {
                            p {
                                width: 317px;
                                height: 216px;
                                color: rgb(34, 34, 34);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                            }
                        }

                        .footer-card-text-red {
                            p {
                                color: rgb(220, 63, 63);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                            }
                        }
                    }

                    .footer-card3 {
                        width: 370px;
                        height: 401px;
                        border-radius: 30px;
                        background: rgb(248, 248, 248);
                        padding: 28px 25px;

                        .footer-text-div {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            // .footer-img1 {}

                            .footer-text-p {
                                width: 101px;
                                height: 48px;
                                color: rgb(34, 34, 34);
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 24px;
                            }
                        }

                        .footer-text-desc {
                            p {
                                width: 317px;
                                height: 216px;
                                color: rgb(34, 34, 34);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                            }
                        }

                        .footer-card-text-red {
                            p {
                                color: rgb(220, 63, 63);
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 150%;
                            }
                        }
                    }
                }

                .footer-button-div {

                    .footer-button-box {
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        .footer-button {
                            padding: 40px 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 30px;

                            button {
                                width: 30px;
                                height: 30px;
                                background: rgb(220, 63, 63);
                                border: none;
                                border-radius: 50%;

                            }
                        }
                    }
                }
            }
        }
    }

}